<div class="col-xs-8 col-xs-offset-2">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formGroupName="user">
      <div class="form-group">
        <label>Email</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{error: form.get('user.email')?.invalid && form.get('user.email')?.touched}"
          name="email"
          formControlName="email"
        >
        <p *ngIf="form.get('user.email')?.invalid && form.get('user.email')?.touched">Введите корректный email</p>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          [ngClass]="{error: form.get('user.pass')?.invalid && form.get('user.pass')?.touched}"
          name="pass"
          formControlName="pass"
        >
        <p
          *ngIf="form.get('user.pass')?.invalid && form.get('user.pass')?.touched"
        >
          <span *ngIf="form.get('user.pass').errors['required']">Password is not empty</span>
          <span *ngIf="form.get('user.pass').errors['lengthError']">Пароль не должен быть меньше {{charsCount}}х символов!</span>
        </p>
      </div>
    </div>

    <div class="form-group">
      <label>Select country</label>
      <select
        class="form-control"
        name="country"
        formControlName="country"
      >
        <option value="ru">Russian</option>
        <option value="by">Belarussian</option>
        <option value="ua">Ukraina</option>
      </select>
    </div>

    <div class="radio" *ngFor="let ans of answers">
      <label>
        <input
          type="radio"
          formControlName="answer"
          [value]="ans.type"
        > {{ ans.text }}
      </label>
    </div>
    <button
      class="btn btn-success"
      type="submit"
      [disabled]="form.invalid"
    >Сохранить</button>
  </form>
</div>
